#galleryWrapper{
	width: 500px;
	height: 333px;
	background-color: #333;
}

#leftArrow, #rightArrow{
	width: 50px;
	height: 50px;
	background-color:red;
	position: relative;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	z-index: 1;
	float: right;
	margin-right: 10px;
}

#imageBox {
	width: 500px;
	height: 333px;
}

#captionBox {
	height: 80px;
	position:relative;
	margin-top: -80px;
	float: left;
	width: 100%;
	
}

#bg {
	background-color: black;
	opacity: 0.5;
	height: 80px;
	position:relative;
	margin-top: -60px;
}

#captionBox p{
	color: white;
	margin-left: 10px;
	font-family: arial, sans-serif;
	font-size: 14px;
}

